alembic==1.18.4
asyncpg==0.31.0
email-validator==2.3.0
fastapi==0.135.3
fastapi-cli==0.0.24
fastapi-cloud-cli==0.16.1
httptools==0.7.1
itsdangerous==2.2.0
Jinja2==3.1.6
pip==25.1.1
pipdeptree==2.35.1
psycopg2-binary==2.9.11
pydantic-extra-types==2.11.2
pydantic-settings==2.13.1
python-multipart==0.0.26
PyYAML==6.0.3
sqlmodel==0.0.38
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
langchain-google-genai==4.2.2
langchain-openai==1.2.0
langchain-text-splitters==1.1.2
langgraph==1.1.9
langchain-postgres==0.0.17
langchain-community==0.4.1
pypdf==6.10.2